body {
  background-color: #2a2828;
}

.m0 {
  margin: 0;
}

.mt-2 {
  margin-top: 2rem;
}

.bg-dark {
  background-color: #171515;
}

.bg-darker {
  background-color: #2a2828;
}

.color-white {
  color: white;
}

.rounded {
  border-radius: 1rem;
}
